# ignore pycharm specific files
.idea/

# Byte-compiled / optimized / DLL files
**/__pycache__
**/data
**/vector_cache
**/word_embeddings
**/runs
**/saved_models
**/bert_model_for_toy_dataset
make.bat
Makefile
**/model.pt